@import "../../scss/variables";
@import "../../../node_modules/swiper/swiper";
@import "../../../node_modules/swiper/components/navigation/navigation";


.swiper-container {
  &.swiper-container-overflow {
    overflow: visible;
  }

  .swiper-slide {
    height: auto;
  }
}


.swiper-outer-container {
  position: relative;
}

.swiper-container,
.swiper-outer-container {
  .swiper-button-disabled {
    opacity: 0;
  }

  .swiper-button-prev {
    left: -64px;
  }
  .swiper-button-next {
    right: -64px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 64px;
    height: 64px;
    margin-top: -32px;
    font-size: 24px;
    color: $black;
    background-color: $white;
    border-radius: 50%;
    outline: 0;
    box-shadow: $elevation2;
    transition: .2s ease;

    &::after {
      display: none;
    }
  }
}
