@import "../variables";

.home-section {
  background-color: #f1f3f6;

  &-card {
    position: relative;
    padding: 40px 24px 72px;
    margin-top: -140px;
    margin-bottom: 72px;
    background-color: $white;

    @media (min-width: map-get($grid-breakpoints, "lg")) {
      padding: 40px 140px 72px;
    }
  }
}

.vision-column {
  &-icon {
    width: 80px;
  }
}


.testimonial-slide {
  position: relative;
  padding-left: 30px;

  &::before {
    position: absolute;
    top: 4px;
    left: 20px;
    width: 3px;
    height: 32px;
    content: "";
    background-color: $primary;
  }
}
